@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?tomleg');
    src: url('../fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?tomleg') format('truetype'), url('../fonts/icomoon.woff?tomleg') format('woff'), url('../fonts/icomoon.svg?tomleg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

i {
    font-style: normal;
}

h2 {
    display: inline-block;
    font-weight: 200;
}

.page-main {
    overflow: hidden;
    background-color: #f5f5f5;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

em {
    font-style: normal;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.container {
    width: 1226px;
    margin: 0 auto;
}